<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="MyConnectionString" connectionString="Data Source=DESKTOP-K236SJQ;Initial Catalog=zaiwone;Integrated Security=SSPI;User ID=dbo;"
   providerName="System.Data.SqlClient" />
  <add name="ProjeSirket.Properties.Settings.zaiwoneConnectionString"
   connectionString="Data Source=DESKTOP-K236SJQ;Initial Catalog=zaiwone;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="zaiwoneproje.Properties.Settings.zaiwoneConnectionString"
   connectionString="Data Source=DESKTOP-K236SJQ;Initial Catalog=zaiwone;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>